<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Sports</title>
        <link rel="stylesheet" href="css\style.css">
  </head>

  <body>
    
    <div class="wrapper">
	<div class="menu"><div><a href="Home.html">Home</a></div><div><a href="News.html">News</a></div><div><a href="sports.html">Sports</a></div></div>
	<div class="news">
	</br>
	<h1>India afraid of losing to Pak, says Miandad</h1>
		</br>
	<p>
		Karachi, Oct.28 (ANI): Legendary Pakistan cricketer Javed Miandad has lashed out at the Board of Control for Cricket in India (BCCI), saying that the latter doesn't want to revive the UAE series because they are afraid of losing.
	</br>
Earlier, the much-anticipated scheduled meeting between the PCB and BCCI officials to discuss the matter was cancelled after the Shiv Sena workers opposed it and barged into the headquarters of the Indian cricket board in Mumbai.
	</br>
Expressing his views on the same, Miandad said this clearly shows that neither the BCCI nor the Indian Government is sincere about the series in December, the Dawn reported.
<img src="pk.jpg"/>
Miandad also said that the BCCI has become the government's board and the day is not far when the sub-continent nation would itself insist Pakistan to play a series with them.
	</br>
Miandad further asked the PCB to boycott next year's World T20 in India.
	</br>
According to a memorandum of understanding (MoU) signed between the PCB and BCCI, both the countries are scheduled to play six series between 2015 and 2023 after a clearance from the Indian Government.
	</br>
India have not played a full bilateral Test series with Pakistan after the 2008 Mumbai terror attacks. (ANI)</p>

</br>
	</div>
	
	<ul class="bg-bubbles">
		<li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
	</ul>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="C:\Users\Administrator\Desktop\Project\js\index.js"></script>
 </body>
</html>
